page-settings-notice {
	ion-header {

		.back-button {
			display: block;
		}
	}
	ion-content {
		.scroll-content {
			padding: 0;
		}
		.list-header-md {
			border-top: none;
		}
		ion-item {
			&.item-md {
				background-color: #f7f9fc;
				min-height: 55px;
				padding-left: 22px;
			}
			ion-label {
				font-size: 16px;
				padding-left: 35px;
				position: relative;
				line-height: 25px;
				&::before {
					content: "\e6a4";
					font-family: 'themify';
					position: absolute;
					width: 25px;
					height: 25px;
					top: 0;
					left: 0;
					border-radius: 50%;
					background-color: #219AF5;
					color: #fff;
					text-align: center;
					font-size: 13px;
				}
				&.auc-item-win::before {
					content: "\e642";
					background-color: #6ACF31;
				}
			}
		}
	}
}
