page-auc {
	.price-block {
		margin-top: 26px;
	}
	.cover {
		background: #219AF5 !important;
		margin: 0 -22px 70px;
	    padding: 0 22px !important;
	    width: auto;
	    overflow: visible !important;
	    contain: none !important;

	    @include setOverflowVisible;

	    ion-header {
	    	margin-bottom: 10px;

	    	.back-button {
				display: block;

				.back-button-icon {
					color: $second-text-color !important;
	    		}
			}

			ion-icon {
				&::after {
					margin-left: 7px;
					position: relative;
					content: "Назад";
					font-size: .875rem;
					line-height: 1.28;
					font-family: 'Source Sans Pro', sans-serif !important;
					font-weight: normal;
				}
			}

			&::after {
				display: none !important;
			}
	    }

		.status {
			margin-bottom: 6px;
			margin-top: 44px;
			height: 23px;
			border-radius: 5px;
			min-height: auto;
		}

		.title {
			margin: 0 0 13px;
			.text {
				margin: 0 0 7px;
				font-size: .875rem;
				line-height: 1.28;
				font-family: "Arial";
				color: #BCE0FC;
			}
			.name {
				color: $second-text-color;
				font-size: 1.125rem;
				line-height: 1.44;
				font-family: "Arial";
			}
		}

		.progress-bar {
			padding: 18px 0 20px;
			min-height: auto;

			.text {
				margin: 0 0 12px;
				color: #AEB7C8;
				font-size: .75rem;
				line-height: 1.16;
				font-family: "Arial";

				.time {
					display: inline-block;
					float: right;
					padding-right: 13px;
					font-size: .875rem;
					line-height: 1.14;
					color: #AEB7C8;
					font-weight: bold;
					font-family: "Arial";
				}
			}

			.truck {
				position: relative;
				height: 6px;
				background: #D5DCF0;
				mix-blend-mode: normal;
				opacity: 0.7;
				border-radius: 4.5px;
				.bar {
					position: absolute;
					left: 0;
					top: 0;
					height: 6px;
					background: linear-gradient(to right, #80C3F3, #4A90E2);
					border-radius: 4.5px;
				}
			}
		}

		.price-block {
			margin-bottom: -57px !important;
			padding: 20px 23px 16px !important;
			background: $bg-color !important;
			border-radius: 5px !important;
			box-shadow: 0 4px 24px rgba(38, 37, 94, 0.2216) !important;
			overflow: visible !important;
	    	contain: none !important;

			table {
				width: 100%;

				.text {
					margin: 0 0 10px;
					color: #AEB7C8;
					font-size: .8125rem;
					line-height: 1.15;
					font-family: "Arial";
				}

				.price {
					color: #313D49;
					font-size: 1.3125rem;
					font-family: "Arial";
					line-height: 1.14;

					@media screen and (max-width: 355px) {
						font-size: 1rem;
					}
				}
				.start-price {
					.price {
						color: #313D49;
					}
				}
				.now-price {
					.price {
						color: #2C84EA;
					}
				}
			}
		}
		
	}

	.primary-btn {
		text-transform: none;
		border-radius: 6px !important;
		height: 50px !important;
		background: #219AF5 !important;
		font-family: "Arial" !important;
		font-size: 1rem !important;
		.reload {
			width: 18px;
			height: 19px;
			background: url(../assets/img/icons/refresh-button.png) center center no-repeat;
			background-size: 100%;
			display: inline-block;
			margin-right: 9px; 
		}
	}
	.stop-participating {
		padding: 37px 0 22px;
		text-align: center;
		line-height: 1;
		.link {
			display: inline-block;
			text-decoration: none;
			color: #E89A1B;
			position: relative;
			left: -5px;
			.text {
				font-family: "Arial";
				border-bottom: 1px solid #E89A1B;
				text-decoration: none;
				color: #E89A1B;
				font-size: 1rem;
			}
			.close {
				display: inline-block;
				margin-right: 13px;
				position: relative;
				top: 1px;
				width: 12px;
				height: 12px;
				background: url(../assets/img/icons/cross-remove-sign.png) center center no-repeat;
				background-size: 100%;
			}
		}
	}
	.status {
		position: relative;
		overflow: visible;
		span {
			font-size: 14px;
			display: inline-block;
			padding: 2px 8px 3px;
			border-radius: 5px;
			background-color: #F0FAEA;
			position: absolute;
			left: 0;
			top: 0;
			color: #479F1C;
			// display: none;
			&.status-end {
				background-color: #F7E2EA;
				color: #FB003C;
			}
		}
	}

	.toolbar-background,
	ion-item {
		background: transparent !important;
	}


	ion-item {
		button {
			font-size: 16px;
			text-transform: none;
			border-radius: 5px;
			height: 46px;
			background-color: #219AF5;
			margin: 0;
		}
		padding: 0 !important;

		.label {
			white-space: normal !important;
		}

		.item-inner {
			padding: 0 !important;
			border: none !important;
		}

		ion-label {
			margin: 0 !important;
		}
		&.auc-winner {
			min-height: auto !important;
			padding: 25px 0 31px !important;
			border-radius: 5px;
			background-color: rgba(255,255,255,.2) !important;
			margin-bottom: 20px;
			@include setOverflowVisible;
			// display: none;
			.auc-winner_text {
				position: relative;
				text-align: center;
				font-family: "Arial";
				color: #313D49;
				font-size: 1rem;
				min-height: 25px;
				@media screen and (max-width: 355px) {
					font-size: .9rem;
				}
					&::before {
					width: 19px;
					height: 25px;
					content: "";
					background: url(../assets/img/icons/quality.png) center center no-repeat;
					background-size: 100%;
					display: inline-block;
					position: relative;
					top: 7px;
					margin-right: 13px;
				}
				span {
					opacity: 0.9;
				}
			}
		}
	}

	ion-card {
		margin: 0 !important;
		width: 100% !important;
		background: transparent !important;
		box-shadow: none !important;

		ion-card-header {
			margin: 0 !important;
			font-size: .8125rem !important;
			position: absolute;
		    width: 100%;
		    left: 0px;
		    color: #606280 !important;
		    background: #EBF0F6 !important;
		    line-height: 1.15 !important;
		    font-weight: normal !important;
		    padding: 9px 23px !important;
		    font-family: "Arial" !important;
		}

		ion-card-content {
			margin-top: 32px;
			background: $bg-color;
			border-radius: 5px;
			padding: 20px 12px 0 !important;

			.text-main {
				font-family: 'Arial';
				font-style: normal;
				font-weight: normal;
				line-height: 1.28;
				font-size: .875rem;
				color: #757585;
				padding-bottom: 17px;
			}
			.delivery {
				@include setOverflowVisible;
				border-top: 1px solid #D7E4EC;
				padding: 25px 20px !important;
				display: flex;
				justify-content: center;
				align-items: center;
				min-height: auto !important;
				.text-clock {
					font-size: 1rem;
					color: #313D49;
					line-height: 1.125;
					display: flex;
					min-height: 23px;
					@media screen and (max-width: 355px) {
						font-size: .9rem;
					}
				}
				.clock-container {
					display: inline-block;
					position: relative;
					top: -3px;
					margin-right: 13px;
					width: 23px;
					height: 23px;
					background: url(../assets/img/icons/clock.png) center center no-repeat;
					background-size: 100%;
				}
			}

			.project {
				display: block;
				min-height: auto !important;
				border-bottom: 1px solid #D7E4EC;
				padding-top: 5px !important;
				padding-bottom: 18px !important;
				.link {
					font-size: 1rem;
					text-align: center;
					font-family: "Arial";
					line-height: 1.125;
					text-decoration: none;
					color: #2475D4;
					text-align: center;
					display: block;
				}
			}
		}
	}

	ion-badge {
		margin-right: -30px;
		border-radius: 5px !important;
		background: rgba(174, 183, 200, .1) !important;
		color: $light-text !important;
		font-size: 1rem;
		line-height: 1.25;
		font-weight: normal;
		padding-left: 10px;
		padding-right: 10px;
	}

	/* .auc-project {
		margin-bottom: 15px !important;
	} */

	.refuse-auc {
		// margin: 0 0 155px;
		margin: 0 0 0px;
		text-align: center;
		min-height: auto;
		a {
			font-size: 14px;
			color: #FB003C;
			// display: none;
		}
	}

	// .change-rate,
	.form-offers {
		display: none;
	}

	.auc-modal {
		position: fixed;
		top: 0;
		left: 0;
		width: 100% !important;
		height: 100%;
		background-color: rgba(49, 61, 73, .9) !important;
		z-index: 10;
		margin: 0 !important;
	    // display: none;
		.auc-modal_inner {
			position: absolute;
			width: 100%;
			left: 0;
			bottom: 0px;
			background-color: #fff;
			border-radius: 8px 8px 0 0;
			padding: 20px 23px 22px;
			ion-card-header {
				padding: 0;
				padding-right: 30px;  
				text-transform: none;
				position: relative;
				line-height: 26px;
				font-size: 18px !important;
				color: #313D49 !important;
				background: none;

				white-space: normal;
				&::before {
					content: "\e64b";
					font-family: 'themify';
					position: absolute;
					width: 20px;
					height: 20px;
					border-radius: 50%;
					text-align: center;
					top: -5px;
					right: 0;
				    font-size: 14px;
				    padding-top: 5px;
				    box-sizing: border-box;
				}
			}
			ion-card-content {
				margin-top: 0;
				padding: 13px 0 !important;
				ion-item {
					border-bottom: 1px solid #E8EFF4;
					border-radius: 5px;
					min-height: auto;
					height: 50px;
					font-size: 16px;
					box-sizing: border-box;
					position: relative;
					margin-bottom: 15px;
					.text-input-md {
						width: 100%;
						margin: 0;
						padding: 13px 56px 13px 15px;
						box-sizing: border-box;
					}

					input {
						background: url(../assets/img/auction/rouble-icon.png) 97% center no-repeat;
					}
					&.auc-modal_chance {
						position: relative;
						background-color: #F7F9FC !important;
						border: none;
						padding: 0 10px 0 15px !important;
						overflow: visible;
    					contain: none;

						&::after {
							position: absolute;
							right: 15px;
							top: -19px;
							content: "";
							height: 9px;
							border: 5px solid transparent;
							border-bottom-color: #F7F9FC;
						}
						.chance {
							padding: 0 0 0 27px;
							position: relative;
							@media (max-width: 330px) {
								padding: 0 0 0 20px;
							}
							&::before {
								content: "\e680";
								font-family: 'themify';
								position: absolute;
								top: 0;
								left: 0;
								line-height: 27px;
								@media (max-width: 330px) {
									font-size: 13px;
								}
							}
						}
						.chance-title {
							font-size: 14px;
							color: #252E39;
							line-height: 27px;
							@media (max-width: 370px) {
								font-size: 12px;
							}
						}
						.chance-amount {
							float: right;
							font-size: 18px;
							background-color: #F7E2EA;
							color: #FB003C;
							border-radius: 5px;
							padding: 3px 8px;
							@media (max-width: 370px) {
								font-size: 14px;
							}
						}
					}
				}
				button {
					font-size: 16px;
					text-transform: none;
					border-radius: 5px;
					height: 46px;
					background-color: #219AF5;
					margin: 0;
				}
			}
		}
	}

	.header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios {
		border-color: transparent !important;
	}

	.minimal-price__block {
		min-height: auto !important;
	}

	.start-price.minimal {
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: 6px 5px 15px;
		.text {
			font-family: "Arial";
			letter-spacing: -0.1px;
			color: #AEB7C8;
			font-size: .8125rem;
			line-height: 1.23;
			margin: 0 10px 0 0 !important;
		}
		.price {
			color: #313D49;
			font-family: "Arial";
			line-height: 1.14;
			font-size: 1.3125rem;
			@media screen and (max-width: 355px) {
				font-size: .95rem;
			}
		}
	}

}
