page-auc {

	.status {
		position: relative;
		overflow: visible;
		span {
			font-size: 14px;
			display: inline-block;
			padding: 2px 8px 3px;
			border-radius: 5px;
			background-color: #F0FAEA;
			position: absolute;
			left: 0;
			top: 0;
			color: #479F1C;
			// display: none;
			&.status-end {
				background-color: #F7E2EA;
				color: #FB003C;
			}
		}
	}

	.toolbar-background,
	ion-item {
		background: transparent !important;
	}


	ion-item {
		padding: 0 !important;

		.label {
			white-space: normal !important;
		}

		.item-inner {
			padding: 0 !important;
			border: none !important;
		}

		ion-label {
			margin: 0 !important;
		}
		&.auc-winner {
			min-height: auto;
			padding: 0 13px 8px !important;
			border-radius: 5px;
			background-color: rgba(255,255,255,.2) !important;
			margin-bottom: 20px;
			// display: none;
			.auc-winner_text {
				padding-left: 45px;
				position: relative;
				&::before {
					content: "\e642";
					font-family: 'themify';
					position: absolute;
					top: 10px;
					left: 0;
					width: 33px;
					height: 33px;
					border-radius: 50%;
					background-color: #FFF1CE;
					text-align: center;
					color: #FFAA08;
					font-size: 20px;
				    padding-top: 6.5px;
				    box-sizing: border-box;
				}
				span {
					font-size: 14px;
					color: #fff;
					span {
						display: block;
						font-size: 16px;
						text-transform: uppercase;
					}
				}
			}
		}
	}

	ion-card {
		margin: 25px 0 !important;
		width: 100% !important;
		background: transparent !important;
		box-shadow: none !important;

		ion-card-header {
			margin: 0 0 10px;
			padding: 0 !important;
			text-transform: uppercase;
			color: $auc-text !important;
			font-size: .8125rem !important;
			line-height: 1.23;
		}

		ion-card-content {
			background: $bg-color;
			border-radius: 5px;
			padding: 20px !important;

			.text {
				color: $light-text;
				font-size: 1rem;
				line-height: 1.25;

				@media screen and (max-width: 355px) {
					font-size: .9rem;
				}
			}

			.delivery {
				margin-top: 14px;
				margin-bottom: -20px;
				border-top: 1px solid #E8EFF4;
				padding-top: 10px;

				.text {
					line-height: 39px;
				}

				.truck {
					display: inline-block;
					margin-right: 11px;
					width: 39px;
					height: 39px;
					border-radius: 50%;
					background: #F1E2FF;
					text-align: center;

					.ti-truck {
						color: #7843A6;
						font-size: 1rem;
					}
				}
			}

			.project {
				// min-height: auto;
				margin-top: 14px;
				margin-bottom: -20px;
				border-top: 1px solid #E8EFF4;
				padding-top: 10px;

				.link {
					display: inline-block;
					margin-right: 11px;
					height: 39px;
					width: 39px;
					background: #F5FBFE;
					border-radius: 50%;
					text-align: center;

					.ti-link {
						position: relative;
					    top: 2px;
					    left: 1px;
						color: #313D49;
						font-size: 1.1rem;
					}
				}

				.text {
					line-height: 39px;
				}
			}
		}
	}

	ion-badge {
		margin-right: -30px;
		border-radius: 5px !important;
		background: rgba(174, 183, 200, .1) !important;
		color: $light-text !important;
		font-size: 1rem;
		line-height: 1.25;
		font-weight: normal;
		padding-left: 10px;
		padding-right: 10px;
	}

	.auc-project {
		margin-bottom: 15px !important;
	}

	.refuse-auc {
		// margin: 0 0 155px;
		margin: 0 0 0px;
		text-align: center;
		min-height: auto;
		a {
			font-size: 14px;
			color: #FB003C;
			// display: none;
		}
	}

	// .change-rate,
	.form-offers {
		display: none;
	}

	.auc-modal {
		position: fixed;
		top: 0;
		left: 0;
		width: 100% !important;
		height: 100%;
		background-color: rgba(49, 61, 73, .9) !important;
		z-index: 10;
		margin: 0 !important;
	    // display: none;
		.auc-modal_inner {
			position: absolute;
			width: 100%;
			left: 0;
			bottom: 50px;
			background-color: #fff;
			border-radius: 8px 8px 0 0;
			padding: 20px 23px 22px;
			ion-card-header {
				font-size: 20px !important;
				color: #252E39 !important;
				text-transform: none;
				position: relative;
				&::before {
					content: "\e646";
					font-family: 'themify';
					position: absolute;
					width: 20px;
					height: 20px;
					border-radius: 50%;
					background-color: #F7F9FC;
					text-align: center;
					top: 0;
					right: 0;
				    font-size: 10px;
				    padding-top: 5px;
				    box-sizing: border-box;
				}
			}
			ion-card-content {
				padding: 13px 0 !important;
				ion-item {
					border: 1px solid #E8EFF4;
					border-radius: 5px;
					min-height: auto;
					height: 50px;
					font-size: 16px;
					box-sizing: border-box;
					position: relative;
					margin-bottom: 15px;
					.text-input-md {
						width: 100%;
						margin: 0;
						padding: 13px 56px 13px 15px;
						box-sizing: border-box;
					}

					input {
						background: url(../assets/img/auction/rouble-icon.png) 97% center no-repeat;
					}
					&.auc-modal_chance {
						position: relative;
						background-color: #F7F9FC !important;
						border: none;
						padding: 0 10px 0 15px !important;
						overflow: visible;
    					contain: none;

						&::after {
							position: absolute;
							right: 15px;
							top: -19px;
							content: "";
							height: 9px;
							border: 5px solid transparent;
							border-bottom-color: #F7F9FC;
						}
						.chance {
							padding: 0 0 0 27px;
							position: relative;
							@media (max-width: 330px) {
								padding: 0 0 0 20px;
							}
							&::before {
								content: "\e680";
								font-family: 'themify';
								position: absolute;
								top: 0;
								left: 0;
								line-height: 27px;
								@media (max-width: 330px) {
									font-size: 13px;
								}
							}
						}
						.chance-title {
							font-size: 14px;
							color: #252E39;
							line-height: 27px;
							@media (max-width: 370px) {
								font-size: 12px;
							}
						}
						.chance-amount {
							float: right;
							font-size: 18px;
							background-color: #F7E2EA;
							color: #FB003C;
							border-radius: 5px;
							padding: 3px 8px;
							@media (max-width: 370px) {
								font-size: 14px;
							}
						}
					}
				}
				button {
					font-size: 16px;
					text-transform: none;
					border-radius: 5px;
					height: 46px;
					background-color: #219AF5;
					margin: 0;
				}
			}
		}
	}

	.header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios {
		border-color: transparent !important;
	}

}
